<!-- /components/monster-form/client/monster-form.html -->
<template name="componentMonsterForm">
    <form id="monster-form">

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Monster Name</label>
            <div class="col-sm-10">
                <input id="name" name="name" type="text" class="form-control" placeholder="Example: Goblin" value="{{monster.name}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category &amp; Alignment</label>
            <div class="col-sm-10">
                <input id="category" name="category" type="text" class="form-control" placeholder="Example: Small humanoid (goblin), neutral evil" value="{{monster.category}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="ac" class="col-sm-2 col-form-label">Armor Class</label>
            <div class="col-sm-10">
                <input id="ac" name="ac" type="text" class="form-control" placeholder="Example: 17" value="{{monster.ac}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="hp" class="col-sm-2 col-form-label">Hit Points</label>
            <div class="col-sm-10">
                <input id="hp" name="hp" type="text" class="form-control" placeholder="Example: 11 (2d8+2)" value="{{monster.hp}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="speed" class="col-sm-2 col-form-label">Speed</label>
            <div class="col-sm-10">
                <input id="speed" name="speed" type="text" class="form-control" placeholder="Example: 30ft" value="{{monster.speed}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="str" class="col-sm-2 col-form-label">Strength</label>
            <div class="col-sm-10">
                <input id="str" name="str" type="text" class="form-control" placeholder="Example: 18" value="{{monster.str}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="dex" class="col-sm-2 col-form-label">Dexterity</label>
            <div class="col-sm-10">
                <input id="dex" name="dex" type="text" class="form-control" placeholder="Example: 18" value="{{monster.dex}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="con" class="col-sm-2 col-form-label">Constitution</label>
            <div class="col-sm-10">
                <input id="con" name="con" type="text" class="form-control" placeholder="Example: 18" value="{{monster.con}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="int" class="col-sm-2 col-form-label">Intelligence</label>
            <div class="col-sm-10">
                <input id="int" name="int" type="text" class="form-control" placeholder="Example: 18" value="{{monster.int}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="wis" class="col-sm-2 col-form-label">Wisdom</label>
            <div class="col-sm-10">
                <input id="wis" name="wis" type="text" class="form-control" placeholder="Example: 18" value="{{monster.wis}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="cha" class="col-sm-2 col-form-label">Charisma</label>
            <div class="col-sm-10">
                <input id="cha" name="cha" type="text" class="form-control" placeholder="Example: 18" value="{{monster.cha}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="skills" class="col-sm-2 col-form-label">Skills</label>
            <div class="col-sm-10">
                <input id="skills" name="skills" type="text" class="form-control" placeholder="Example: Stealth +6, Perception +4" value="{{monster.skills}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="senses" class="col-sm-2 col-form-label">Senses</label>
            <div class="col-sm-10">
                <input id="senses" name="senses" type="text" class="form-control" placeholder="Example: Darkvision 60ft, Passive Perception 13" value="{{monster.senses}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="languages" class="col-sm-2 col-form-label">Languages</label>
            <div class="col-sm-10">
                <input id="languages" name="languages" type="text" class="form-control" placeholder="Example: Common, Goblin" value="{{monster.languages}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="challenge" class="col-sm-2 col-form-label">Challenge</label>
            <div class="col-sm-10">
                <input id="challenge" name="challenge" type="text" class="form-control" placeholder="Example: 1/4 (50XP)" value="{{monster.challenge}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="ability1Name" class="col-sm-2 col-form-label">Ability 1 Name</label>
            <div class="col-sm-10">
                <input id="ability1Name" name="ability1Name" type="text" class="form-control" placeholder="Martial Advantage" value="{{monster.ability1Name}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="ability1Description" class="col-sm-2 col-form-label">Ability 1 Description</label>
            <div class="col-sm-10">
                <textarea id="ability1Description" name="ability1Description" type="text" class="form-control" placeholder="Once per turn, the hobgoblin can deal an extra 7 (2d6) damage to a creature it hits with a weapon attack if that creature is within 5 feet of an ally of the hobgoblin that isn't incapacitated.">{{monster.ability1Description}}</textarea>
            </div>
        </div>

        {{#unless monster.ability2Name}}
            <p><a href="#" hook="add-ability" data-ability="2">Add one more ability</a></p>
        {{/unless}}

        <div hook="ability2Container" style="{{#unless monster.ability2Name}}display: none{{/unless}}">
            <div class="form-group row">
                <label for="ability2Name" class="col-sm-2 col-form-label">Ability 2 Name</label>
                <div class="col-sm-10">
                    <input id="ability2Name" name="ability2Name" type="text" class="form-control" placeholder="" value="{{monster.ability2Name}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="ability2Description" class="col-sm-2 col-form-label">Ability 2 Description</label>
                <div class="col-sm-10">
                    <textarea id="ability2Description" name="ability2Description" type="text" class="form-control" placeholder="">{{monster.ability2Description}}</textarea>
                </div>
            </div>
            {{#unless monster.ability3Name}}
                <p><a href="#" hook="add-ability" data-ability="3">Add one more ability</a></p>
            {{/unless}}
        </div>

        <div hook="ability3Container" style="{{#unless monster.ability3Name}}display: none{{/unless}}">
            <div class="form-group row">
                <label for="ability3Name" class="col-sm-2 col-form-label">Ability 3 Name</label>
                <div class="col-sm-10">
                    <input id="ability3Name" name="ability3Name" type="text" class="form-control" placeholder="" value="{{monster.ability3Name}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="ability3Description" class="col-sm-2 col-form-label">Ability 3 Description</label>
                <div class="col-sm-10">
                    <textarea id="ability3Description" name="ability3Description" type="text" class="form-control" placeholder="">{{monster.ability3Description}}</textarea>
                </div>
            </div>
            {{#unless monster.ability4Name}}
                <p><a href="#" hook="add-ability" data-ability="4">Add one more ability</a></p>
            {{/unless}}
        </div>

        <div hook="ability4Container" style="{{#unless monster.ability4Name}}display: none{{/unless}}">
            <div class="form-group row">
                <label for="ability4Name" class="col-sm-2 col-form-label">Ability 4 Name</label>
                <div class="col-sm-10">
                    <input id="ability4Name" name="ability4Name" type="text" class="form-control" placeholder="" value="{{monster.ability4Name}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="ability4Description" class="col-sm-2 col-form-label">Ability 4 Description</label>
                <div class="col-sm-10">
                    <textarea id="ability4Description" name="ability4Description" type="text" class="form-control" placeholder="">{{monster.ability4Description}}</textarea>
                </div>
            </div>
            {{#unless monster.ability5Name}}
                <p><a href="#" hook="add-ability" data-ability="5">Add one more ability</a></p>
            {{/unless}}
        </div>

        <div hook="ability5Container" style="{{#unless monster.ability5Name}}display: none{{/unless}}">
            <div class="form-group row">
                <label for="ability5Name" class="col-sm-2 col-form-label">Ability 5 Name</label>
                <div class="col-sm-10">
                    <input id="ability5Name" name="ability5Name" type="text" class="form-control" placeholder="" value="{{monster.ability5Name}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="ability5Description" class="col-sm-2 col-form-label">Ability 5 Description</label>
                <div class="col-sm-10">
                    <textarea id="ability5Description" name="ability5Description" type="text" class="form-control" placeholder="">{{monster.ability5Description}}</textarea>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="action1Name" class="col-sm-2 col-form-label">Action 1 Name</label>
            <div class="col-sm-10">
                <input id="action1Name" name="action1Name" type="text" class="form-control" placeholder="Longsword" value="{{monster.action1Name}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="action1Description" class="col-sm-2 col-form-label">Action 1 Description</label>
            <div class="col-sm-10">
                <textarea id="action1Description" name="action1Description" type="text" class="form-control" placeholder="Melee Weapon Attack: +3 to hit, reach 5ft., one target. Hit: 5 (1d8 + 1) slashing damage, or 6 (1d10 + 1) if used with two hands">{{monster.action1Description}}</textarea>
            </div>
        </div>

        <input type="hidden" name="userId" value="{{currentUser._id}}">
        <input type="hidden" name="_id" value="{{monster._id}}">

        <input type="submit" value="Save" class="btn btn-primary btn-lg">

    </form>
</template>